<h1>splash#index</h1>

<div id="notice"><%= notice%></div>

<p><%= link_to 'New Post', new_post_path %></p>



<%= link_to "Vote Yes",  {:controller=>"posts",  :action => 'ajax_test',:id=>'barbar',}, :remote=> true, :class=>"huh" %>

<% if false %>
<%= link_to "link to remote", :remote => true,
  :url => ajax_test_url,
  :update => "barbar" %>
<% end %>


<p id="foobar">foobar</p>

<p id="barbar">barbar</p>